<a routerLink="/displayhelloworld">1. Display Hello World</a>
<br>
<a routerLink="/showhellobutton">2. Show Hello button</a>
<br>
<a routerLink="/displayname">3. Display Name</a>
<br>
<a routerLink="/counter">4. Counter</a>
<br>
<a routerLink="/simpleform">5. Simple Form</a>
<br>
<a routerLink="/userage">6. Userage</a>
<br>
<a routerLink="/usergreeting">7. User Greeting</a>
<br>
<a routerLink="/calculator">8. Calculator</a>
<br>
<a routerLink="/textlength">9. Textlength</a>
<br>
<a routerLink="/currencyconverter">10. Currency Converter</a>
<br>
<a routerLink="/evenoddchecker">11. Evenodd Checker</a>
<br>
<a routerLink="/wordreverser">12. Word Reverser</a>
<br>
<a routerLink="/showdate">13. Show Date</a>
<br>
<a routerLink="/showusername">14. Show username</a>
<br>
<a routerLink="/multiplicationtable">15. Multiplication Table</a>
<br>
<a routerLink="/simplelogin">16. Simple Login </a>
<br>
<a routerLink="/fahrenheittocelsius">17. Fahrenheit to Celsius </a>
<br>
<a routerLink="/bookmarklist">18. Bookmark List </a>
<br>
<a routerLink="/charactercounter">19. Character Counter </a>
<br>
<a routerLink="/palindromechecker">20. Palindrome Checker </a>
<br>
<a routerLink="/temperatureconverter">21. Temperature Converter </a>
<br>
<a routerLink="/shoppinglist">22. Shopping List </a>
<br>
<a routerLink="/factorialcalculator">23. Factorial Calculator </a>
<br>
<a routerLink="/todomanager">24. To do manager</a>
<br>
<a routerLink="/guessnumbergame">25. Guess Number Game</a>
<br>
<a routerLink="/wordcounter">26. Word Counter</a>
<br>
<a routerLink="/randomnumbergenerator">27. Random Number Generator</a>
<br>
<a routerLink="/multiplicationchecker">28. Multiplication Checker</a>
<br>
<a routerLink="/uppercaseconverter">29. Uppercase Converter</a>
<br>
<a routerLink="/wordshuffler">30. Word Shuffler</a>
<br>
<a routerLink="/bmisolver">31. BMI Solver</a>
<br>
<a routerLink="/usernamevalidator">32. Username Validator</a>
<br>
<a routerLink="/interestcalculator">33. Interest Calculator</a>
<br>
<a routerLink="/compoundinterestcalculator">34. Compound Interest Calculator</a>
<br>
<a routerLink="/fibonaccigenerator">35. Fibonacci Generator</a>
<br>
<a routerLink="/oddsumcalculator">36. Oddsum Calculator</a>
<br>
<a routerLink="/currencyformatter">37. Currency Formater</a>
<br>
<a routerLink="/randomquotedisplay">38. Random Quote Display</a>
<br>
<a routerLink="/uppercasegreeting">39. Upper Case Greeting</a>
<br>
<a routerLink="/divisiblechecker">40.Divisible Checker</a>
<br>
<a routerLink="/lowercaseconverter">41.Lowercase Converter</a>
<br>
<a routerLink="/percentagecalculator">42.Percentage Calculator</a>
<br>
<a routerLink="/temperaturefeeling">43.Temperature Feeling</a>
<br>
<a routerLink="/multiplesofthree">44.Multiples of Three</a>
<br>
<a routerLink="/squarerootfinder">45.Square Root Finder</a>
<br>
<a routerLink="/usernameuppercase">46.Username Uppercase</a>
<br>
<a routerLink="/greetinselectedlanguage">47.Greet in Seleceted Language</a>
<br>
<a routerLink="/leapyearchecker">48.Leap Year Checker</a>
<br>
<a routerLink="/areacalculator">49.Area Calculator</a>
<br>
<a routerLink="/lowercasegreeting">50.Lower Case Greeting</a>
<br>
<router-outlet></router-outlet>
